/*img {
  max-height:600px;
  width:100%;
}*/
/*
.jumbotron {
  background-image: url("../../assets/mese2.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
#oikea {
  float:right;
  margin-top:0px;
}
*/
