<h1>Skills</h1>
<div class="row">
  <div class="col">
    <h4>Programming languages</h4>
    <ul>
      <li *ngFor="let language of languages" (click)="skill(language)">{{language}}</li>
    </ul>
  </div>
  <div class="col">
    <h4>Frameworks</h4>
    <ul>
      <li *ngFor="let framework of frameworks" (click)="skill(framework)">{{framework}}</li>
    </ul>
  </div>
  <div class="col">
    moi
  </div>
</div>
<div class="row">
  <div class="col">
    <h4>Softwares</h4>
    <ul>
      <li *ngFor="let software of softwares" (click)="skill(software)">{{software}}</li>
    </ul>
  </div>
  <div class="col">
    <h4>Operating systems</h4>
    <ul>
      <li *ngFor="let os of operatingSystems" (click)="skill(os)">{{os}}</li>
    </ul>
  </div>
  <div class="col">
    <h1 style="text-align:center;">Skill level:</h1>
    <strong style="text-align:center;">{{skillName}}</strong>
    <div class="progress">
      <div class="progress-bar" role="progressbar"  width = "25%" aria-valuemin="0" aria-valuemax="100">{{skillValue}}%</div>
    </div>
  </div>
</div>
<!--[style.width]="skillValue + '%'"-->